<h1>Items</h1>

<% if @items.empty? %>
  <b>No items in store</b>
<% else %>
  <table>
    <tr>
      <th>item id</th>
      <th>Name</th>
      <th>Price</th>
      <th>created_at</th>
      <th></th>
      <th>Рейтинг</th>
    </tr>

    <% @items.each do |item| %>

      <tr>
        <td><%= item.id %></td>
        <td>
          <%# if item.image %>
<!--           <img src="<%#= item.image.file.url %>", width='50px', height='50px'>-->
          <%# end %>
          <%= image_tag item.image.file.url, width: '50px', height: '50px' if item.image %>
          <%= link_to item.name, item_path(item) %>
        </td>
        <td><%= item.price %> руб.</td>
        <td><%= item.created_at.to_s.sub('2012', '2013') %></td>
        <td><%= link_to 'Редактировать', edit_item_path(item) %></td>
        <td><%= link_to 'Удалить', item_path(item), method: :delete, data: { confirm: 'Точно удалить?' } %></td>
        <td><%= item.votes_count %>, <%= link_to '+', upvote_item_path(item) %></td>
      </tr>

    <% end %>
  </table>
<% end %>