!!!
%html
  %head
    %title MyStore
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .sessionInfo
        - if current_user
          = link_to 'Items', items_path
          | #{current_user.email} | #{link_to 'Sign out', destroy_user_session_path, method: :delete}
        - else
          = link_to 'Sign in', new_user_session_path
          | #{link_to 'Registration', new_user_registration_path}
      %p{style: "color: red"}= flash[:error]
      %p{style: "color: green"}= flash[:success]
      = yield
